In [0]:
import numpy as np
import pandas as pd

In [14]:
# Load the Drive helper and mount.
from google.colab import drive 

# This will prompt for authorization.
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [0]:
df = pd.read_csv(('adult.test.csv'), header = None)

In [0]:
df.columns = ['age', 'workclass', 'fnlwgt', 'education','education-num', 'marital-status','occupation', 'relationship','race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

In [17]:
df['workclass'].mode

<bound method Series.mode of 0                  Private
1                  Private
2                Local-gov
3                  Private
4                        ?
5                  Private
6                        ?
7         Self-emp-not-inc
8                  Private
9                  Private
10                 Private
11             Federal-gov
12                 Private
13                       ?
14                 Private
15                 Private
16               State-gov
17                 Private
18                 Private
19                 Private
20                 Private
21                 Private
22                       ?
23                 Private
24                 Private
25        Self-emp-not-inc
26                 Private
27                 Private
28                 Private
29        Self-emp-not-inc
               ...
16251                    ?
16252              Private
16253              Private
16254              Private
16255            Local-gov
16256              Private
16257         Self-emp-inc
16258              Private
16259              Private
16260              Private
16261              Private
16262              Private
16263              Private
16264     Self-emp-not-inc
16265            Local-gov
16266              Private
16267              Private
16268              Private
16269              Private
16270              Private
16271              Private
16272              Private
16273              Private
16274            Local-gov
16275              Private
16276              Private
16277                    ?
16278              Private
16279              Private
16280         Self-emp-inc
Name: workclass, Length: 16281, dtype: object>

In [19]:
df['occupation'].mode()

0     Prof-specialty
dtype: object

In [20]:
df['native-country'].mode()

0     United-States
dtype: object

In [0]:
df['workclass'] = df['workclass'].replace(' ?', ' Private')
df['occupation'] = df['occupation'].replace(' ?',' Prof-specialty')
df['native-country'] = df['native-country'].replace(' ?',' United-States')
df['income'] = df['income'].replace(' <=50K.',' <=50K')
df['income'] = df['income'].replace(' >50K.',' >50K')

In [27]:
df.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Private,Some-college,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,<=50K

In [28]:
df = df.drop(['fnlwgt', 'education-num'] , 1)

ValueError: ignored

In [29]:
df.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Private,Some-college,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,<=50K

In [0]:
df.to_csv('replaceData_test1.csv', sep = ',', index = False)